<div class = "row">
    <div class = "col-md-4">
        <% if @favorites.any? %>
          <h3>Favorites </h3>
          <div class = "col-md-8">
            <ol class="microposts">
              <%= render @favorites %>
            </ol>  
          </div>
        <% end %>
    </div>
</div>